# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# FMP_API_KEY: Financial Modeling Prep API Key.
FMP_API_KEY=MY_FMP_API_KEY

# FINNHUB_API_KEY: Finnhub API Key for US Stock Market Data.
FINNHUB_API_KEY=MY_FINNHUB_API_KEY
